[Unit]
Description=user initial processes
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart network.service

[Install]
WantedBy=multi-user.target
